body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000;
    color: #ccc; 
}

.perfil .foto {
    border-radius: 70%;
    width: 200px;
    height: 200px; 
    object-fit: cover;
    border: 3px solid #4b0082;
    margin-bottom: 1rem;
}

ul {
    margin: 0;
    padding-left: 0; 
    list-style-position: inside; 
}


h1, h2 {
    margin: 0.5rem 0;
    color: #f6eeff; 
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    border-bottom: 2px solid #4b0082; 
    display: inline-block;
    padding-bottom: 0.2rem;
}

a {
    color: #ffffff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.linguagens {
    display: flex; 
    justify-content: center;
    gap: 4rem; 
    flex-wrap: wrap; 
}

.icone {
    width: 95px; 
    height: auto; 
    border-radius: 10px; 
    padding: 5px; 
    background-color: #000;
}

.social-icon {
    width: 40px; 
    height: 40px;   
    margin-right: 8px; 
    vertical-align: middle; 
}

.link {
    display: inline-flex; 
    align-items: center;
    text-decoration: none; 
    color: #ffffff; 
    transition: color 0.3s ease;
}

.link:hover {
    color: #0d00ff; 
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #d8b4ff; 
}
